body{
    background-color: white;}
    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        text-decoration: inherit;
        line-height: inherit;
        color: inherit;
    }
    
    
    
    html{
        text-align: center;
    }
    .ul{
       margin: 0;
       padding: 0px;
      list-style: none;
     
      }

      li{
        display:inline-block;
        margin-right: 120px;
        padding: 0;
        background-color: blue; 
       text-align: center;
      
      }

      
   .menu_list{
        margin-left: 0px;
       position: fixed;
       text-align: center;
      
        outline: 3px solid white;
       
        width: 1475px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        font-style: oblique;
        border-bottom-style: solid;
        font-weight: bold;
        
        color:yellow;
        background-color: blue;
        }

        .menu_list a:hover{
         color: rgb(12, 10, 10);
        }
  
   
      
    

       img{
       border: radius 100%;
      border-color: white;
     border-width: 200%;
       box-shadow: white;
    
   }
    .me{
        
       
        height: 95vh;
        min-height: 400px;;
        display:flex;
        flex-direction: column;
        justify-content: center;
        border: 0;
       
        background-color: rgb(190, 190, 186);
      
       color: white;
       
    }
.me,h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
.me ,h2{
    font-size: 20px;
    font-weight:lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    background-image: url(pictures/background.jpg);
   
    
    
}
   .about_me{
       background-color:whitesmoke ;
      
      border-style: solid;
      
      
     
   }
    .about_me h1{
      
        padding: 5%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        background-color: blue;
        font-synthesis: style;
        text-align: center;
        font-weight: bold;
        color: yellow;
        
    }
  .about_me p{
      padding-left:15%;
      padding-right: 25%;
      line-height: 35px ;
      
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      background-color: whitesmoke;
      height: 75%;
      text-align:center;
      width: 75%;
      font-size: 25px;
      }
      
      
      .about_me h2{
          background-color: rgb(190,190,186) ;
          text-align: center;
         
         width: 75%;
          padding-left: 15%;
          padding-right: 20%;
         
          color:red;
          font-weight: bolder;

      }
      .about_me h3{
          color:red;
          font-size: 12px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-right: 20%;
        padding-left: 15%;
        width: 75%;
        outline-color: yellow;
        padding-bottom: 5px;
        }
.note{
    color:red;
    transition-duration:5s;
   
   
}

.about_me a{
    text-decoration: underline blue;
    color: blue
}
       
.projects{
    background-color: burlywood;
   display: inline-table;
   width: 70%;
  padding: 40px;
   
   
}
 .projects h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
    line-height: 10px;
   background-color: rgb(234, 242, 243);
    color: yellow;
    font-weight: bolder;
    text-decoration: underline yellow;
   
   
 }     

.projects h1{
    color: yellow;
     background-color: blue;
      border-style: solid;
    padding: 5%;
  font-size: 40px;
  
  
   
    text-align: center;
    outline-color: yellow;
    outline: 5px;
    outline-style: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .projects p{
        padding: 3%;
        line-height: 100%;
        text-align: center;
        font-family: monospace;
        font-size: 16px;
       
    }
   

   .projects img{
   height: 30%;
}

   


   .contact{
       color: black;
       text-align: center;
       box-decoration-break: slice;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding: 0%;
      background-color:  rgb(190,190,186); 
      font-style: oblique ;
      outline-color:yellow;
      outline-style:double;
      outline-width: 5px;
   }
   .contact address{
       line-height: 150%;
       font-size: 20px;
   }
   .contact a{
       color: rgb(18, 76, 235);
       text-decoration: underline rgb(18, 76, 235);
       size: 16px;
       
   }